**Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.**

**[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]**

In [3]:
my_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

                                                        #          0                1
sorted_list = sorted(my_list, key=lambda x: x[1])       # ('Sachin Tendulkar', 34357)
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [5]:
my_list.sort(key=lambda x: x[1])

In [6]:
my_list

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

**Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.**

**[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

In [8]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def sq(x):
  return x**2

l1 = list(map(sq, l))  # Using map function
l1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
list(map(lambda x : x**2, l))      # Using lambda function

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions**

**Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

**Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')**

In [21]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

s = tuple(map(lambda i : str(i), l2))

In [22]:
print(s)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

**Q4.  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.**

**REDUCE:** It will reduce the whole list and return a single value. this is not available by default. we have call reduce function.

In [29]:
from functools import reduce

l3 = []
for i in range(1,26): # range(1,26) will cantain numbers 1 to 25, because last number of the range is not included
  l3.append(i)
reduce(lambda x,y : x*y, l3)

15511210043330985984000000

**Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.**

**[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]**

In [33]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtured_nums = list(filter(lambda x: x%2 == 0 and x%3 == 0, l4))
print(filtured_nums)
# list(filter(lambda x: x%6 == 0 , l4))   # number which is deviisible by 6, will be divisible by 2 and 3 also.

[6, 60, 90, 120]

**Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.**

**['python', 'php', 'aba', 'radar', 'level']**

In [34]:
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], strings))
print(palindromes)

['php', 'aba', 'radar', 'level']