**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [3]:
import pandas as pd

S = [4,8,15,16,23,42]
Series = pd.Series(S)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [4]:
my_list = [2,4,6, 8,10,12,14,16,18,20]
Series1 = pd.Series(my_list)
print(Series1)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:**

**Name         Age          Gender**

Alice          25            Female

Bob            30            Male

Claire         27           Female

Then, print the DataFrame.

In [6]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

**Ans :** A Series only has one data column, whereas a single-column DataFrame contains both a data column and an index. The labels for the data are contained in the index, which is a second column.

Series is Homogenous (All elements are of same data) and DataFrame is Heterogenous (elements can have different data types)

Series is Size-immutable (Once created, the size of a Series object cannot be changed) And DataFrame is Size-mutable (Elements can be dropped or added in an existing DataFrame).

In [7]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Accessing a Series within the DataFrame
name_series = df['Name']
age_series = df['Age']

print(name_series)
print(age_series)

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object
0    25
1    30
2    27
Name: Age, dtype: int64

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

**Ans :** Some common functions to manipulate data in a Pandas DataFrame include:

1. **head() and tail():** These functions allow you to view the first or last few rows of a DataFrame.

2. **describe():** Provides summary statistics about the data in the DataFrame.

3. **filter():** Allows you to filter rows based on conditions.

4. **groupby():** Groups the data by one or more columns and allows you to perform operations on each group.

5. **sort_values():** Sorts the DataFrame by one or more columns.

6. **drop():** Removes columns or rows from the DataFrame.

7. **merge(): **Combines two DataFrames using a common column.

8. **apply():** Applies a function to each element or row in the DataFrame.

In [8]:
# Using describe function in the dataframe of previous question
df.describe()   # describe is valide only for numerical data

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

**Ans :** In pandas, a Series is mutable, means we can change the values in a Series. However, a DataFrame is also mutable, but it is more complex because it consists of multiple Series (columns). We can modify the contents of a DataFrame, add or remove columns, and update values in both the rows and columns.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [11]:
# Create multiple series
names = pd.Series(['RK', 'Unnie', 'Harry', 'Sona'])
courses = pd.Series(['TIE', 'SE', 'TIE', 'CSE'])
ages = pd.Series([23, 24, 24, 23])

# Combine the Series into dictionary
data = {
    'Name': names,
    'Course': courses,
    'Age': ages
}

# Create a DataFrame from dictionary
df = pd.DataFrame(data)

print(df)

    Name Course  Age
0     RK    TIE   23
1  Unnie     SE   24
2  Harry    TIE   24
3   Sona    CSE   23